body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.card {
	margin: 20px 0;
	width: 60vw;
	max-width: 800px;
	text-align: center;
}

.card-text {
	background: rgb(233, 233, 233);
	border: 2px dashed rgb(134, 134, 134);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80px;
	height: fit-content;
}

pre {
	margin: 10px;
	white-space: pre-wrap;
}

form {
	margin: 8px;
	display: flex;
	justify-content: center;
}

.form-check {
	padding: 1rem;
}

.form-check-label {
	margin: 0 10px;
}

.col-form-label {
	max-width: fit-content;
}

.form-control {
    margin-top: 5px;
}
.col-2 {
	min-width: 60px;
	max-width: 80px;
}

.btn {
	margin: 5px;
}
